@page
@model Movie_App.Pages.Directors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit director</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Director.Id" />
            <div class="form-group">
                <label asp-for="Director.Name" class="control-label"></label>
                <input asp-for="Director.Name" class="form-control" />
                <span asp-validation-for="Director.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.Surname" class="control-label"></label>
                <input asp-for="Director.Surname" class="form-control" />
                <span asp-validation-for="Director.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.Age" class="control-label"></label>
                <input asp-for="Director.Age" class="form-control" />
                <span asp-validation-for="Director.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.Award" class="control-label"></label>
                <input asp-for="Director.Award" class="form-control" />
                <span asp-validation-for="Director.Award" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index"><input type="button" class="btn btn-light" value="Back" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
