html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: #121212;
}
body {
  margin-bottom: 60px;
  background-color: #000000;
}

nav{
    background-color: #121212;
}

.nav-link {
    color: #eeeeee;
}

h2 {
    color: #eeeeee;
}

h3 {
    color: #eeeeee;
}

h4 {
    color: #eeeeee;
}

td {
    color: #eeeeee;

}

tr{
    color: #bcbcbc;
}

sort{
    color: #eeeeee;
}

footer{
    text-align: center;
    color: #808080;
    background-color: #000000;
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #eeeeee;
}
