html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: #121212;
}
body {
  margin-bottom: 60px;
  background-color: #000000;
}

nav{
    background-color: #121212;
}

.nav-link {
    color: #eeeeee;
}

h1{
    color: #0094ff;
}

h2,h3,h4 {
    color: #eeeeee;
    margin-top: 50px;
    margin-bottom: 50px;
}
h5{
    margin-top:50px;
}

td {
    color: #eeeeee;
}

tr{
    color: #bcbcbc;
}

.searching-filter {
    color: #eeeeee;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control-prev{
    margin-left: 200px;
}

.carousel-control-next{
    margin-right: 200px;
}

footer {
    text-align: center;
    color: #808080;
    background-color: #000000;
}

.fa {
    padding: 0.5em 0.6em;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 60px;
    display: inline-block;
    box-shadow: 0 0 2px #888;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background-color: #3B5998;
    color: white;
}

.fa-twitter {
    background-color: #55ACEE;
    color: white;
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #eeeeee;
}
